/* palette
#006ee6
#0062cc
#0055b3
#004999
#003d80
#003166
#00254d
#001833
#000c19
#000000
*/

:root {
  --light-blue: #004999;
  --dark-blue: #003166;

}
html {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 20%);
}
body{
    margin: 0;
    background-color: hsl(0, 0%, 98%);
}

/* header ********************************************************** */

.header-container .header-nav-container {
    background-color: var(--light-blue);
    height: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
}

.header-container .header-nav-container .nav-home,
.header-container .header-nav-container .nav-create {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}
.header-container .header-nav-container .nav-home:hover,
.header-container .header-nav-container .nav-create:hover{
    background-color: var(--dark-blue);
    border-bottom: 3px solid #ffffff;
}

.header-container .header-nav-container .nav-home.active,
.header-container .header-nav-container .nav-create.active{
    background-color: var(--dark-blue);
    border-bottom: 3px solid #ffffff;
}


/* note ***************************************************************** */

.note-container {
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid hsl(0, 0%, 90%);
}
.note-container h4.note-title{
    margin: 0;
    font-size: 1.1rem;
    margin-left: 10px;

}
.note-container .note-body {
    margin: 10px 0 5px;
    font-size: 1rem;
}
.note-container i.note-date{
    margin-bottom: 5px;
    display: block;
    font-size: 1rem;
}
.note-container .note-link{
    text-decoration: none;
    font-size: 1rem;
    color: var(--light-blue);
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}
.note-container .note-link:hover {
    color: var(--dark-blue);
    text-decoration: underline;
}

/* navigation */

.navigation-container{
    width: 900px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.navigation-container .navigation-link{
    font-size: 1.2rem;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
}
.navigation-container .navigation-link:hover {
    background-color: var(--light-blue);
    color: #ffffff;
}
.navigation-container .navigation-link.active {
    background-color: var(--light-blue);
    color: #ffffff;
}
.navigation-container .navigation-disabled{
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
}


/* home ************************************************************ */

.home-flash-success {
    background-color: var(--light-blue);
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
}

.home-flash-error {
    background-color: #950606;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
}

.home-content-container {
    width: 900px;
    margin: 0 auto;
}

.home-content-container .home-header{
    margin: 30px 0 10px 30px;
    padding: 10px;
    font-size: 1.4rem;
}

/* create ****************************************************** */


.create-content-container{
    width: 900px;
    margin: 0 auto;
}

.create-content-container .create-header{
    font-size: 1.4rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.create-content-container form{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.create-content-container form .create-form-title{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
}
.create-content-container form .create-title-error{
    color: #950606;
    font-size: .9rem;
    margin-bottom: 20px;
}

.create-content-container form .create-form-body{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.create-content-container form .create-body-error{
    color: #950606;
    font-size: .9rem;
    margin-bottom: 20px;
}

.create-content-container form .create-form-button{
    padding: 8px 0;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: 72px;
    text-align: center;
    position: absolute;
    top: 60px; right: 10px;
}
.create-content-container form .create-form-button:hover {
    background-color: var(--dark-blue);
}

/* edit */

.edit-content-container{
    width: 900px;
    margin: 0 auto;
}

.edit-content-container .edit-header{
    font-size: 1.4rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.edit-content-container form{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.edit-content-container form .edit-form-title{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
}
.edit-content-container form .edit-title-error{
    color: #950606;
    font-size: .9rem;
    margin-bottom: 20px;
}

.edit-content-container form .edit-form-body{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.edit-content-container form .edit-body-error{
    color: #950606;
    font-size: .9rem;
    margin-bottom: 20px;
}

.edit-content-container form .edit-form-button{
    padding: 8px 0;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: 72px;
    text-align: center;
    position: absolute;
    top: 60px; right: 10px;
}
.edit-content-container form .edit-form-button:hover {
    background-color: var(--dark-blue);
}


/* show ************************************************************************ */

.show-content-container {
    width: 900px;
    margin: 0 auto;
}

.show-content-container .show-header{
    font-size: 1.4rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.show-content-container .show-note-container {
    padding: 10px;
}

.show-content-container .show-note-container .show-note-body {
    font-size: 1rem;
    margin: 0 0 10px;
    display: block;
}

.show-content-container .show-note-container .show-note-date {
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
}

.show-content-container .show-note-container .show-button-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 60px;
    right: 10px;
}

.show-content-container .show-note-container .show-button-container form .show-delete-button{
    padding: 8px 0;
    background-color: #950606;
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    margin: 0 20px 0 0;
    width: 72px;
    text-align: center;
}
.show-content-container .show-note-container .show-button-container form .show-delete-button:hover {
    background-color: hsl(0, 92%, 25%);
}

.show-content-container .show-note-container .show-button-container .show-edit-link{
    padding: 8px 0;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: 72px;
    text-align: center;
}
.show-content-container .show-note-container .show-button-container .show-edit-link:hover {
    background-color: var(--dark-blue);
}


