
/* palette
#006ee6
#0062cc
#0055b3
#004999
#003d80
#003166
#00254d
#001833
#000c19
#000000
*/

:root {
  --light-blue: #004999;
  --dark-blue: #003166;

}
html {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 20%);
    font-size: 16px;
}
body{
    margin: 0;
    background-color: hsl(0, 0%, 98%);
}


/* media queries */

@media (max-width:991px){

    html{
        font-size: 72%;
    }

}

@media (max-width:768px){

    html{
        font-size: 72%;
    }
}

@media (max-width:450px){

    html{
        font-size: 72%;
    }

}



