
/* palette
#006ee6
#0062cc
#0055b3
#004999
#003d80
#003166
#00254d
#001833
#000c19
#000000
*/

:root {
  --light-blue: #004999;
  --dark-blue: #003166;

}
html {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 20%);
    font-size: 16px;
}
body{
    margin: 0;
    background-color: hsl(0, 0%, 98%);
}


/* home ************************************************************ */

.home-flash-success {
    background-color: var(--light-blue);
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
}

.home-flash-error {
    background-color: #950606;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
}

.home-content-container {
    max-width: 900px;
    margin: 0 auto;
}

.home-content-container .home-header{
    margin: 30px 0 10px 30px;
    padding: 10px;
    font-size: 1.2rem;
}

/* create ****************************************************** */

.create-content-container{
    max-width: 900px;
    margin: 0 auto;
}

.create-content-container .create-header{
    font-size: 1.2rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.create-content-container form{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.create-content-container form .create-form-title{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
}
.create-content-container form .create-title-error{
    color: #950606;
    font-size: .9rem;
    margin-bottom: 20px;
}

.create-content-container form .create-form-body{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);

    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.create-content-container form .create-body-error{
    color: #950606;
    font-size: .9rem;
    margin-bottom: 20px;
}

.create-content-container form .create-form-button{
    padding: 8px 0;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: 90px;
    text-align: center;
    position: absolute;
    top: 60px; right: 10px;
}
.create-content-container form .create-form-button:hover {
    background-color: var(--dark-blue);
}

/* edit ****************************************************************** */

.edit-content-container{
    max-width: 900px;
    margin: 0 auto;
}

.edit-content-container .edit-header{
    font-size: 1.2rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.edit-content-container form{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.edit-content-container form .edit-form-title{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
}
.edit-content-container form .edit-title-error{
    color: #950606;
    font-size: .9rem;
    margin-bottom: 20px;
}

.edit-content-container form .edit-form-body{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);

    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.edit-content-container form .edit-body-error{
    color: #950606;
    font-size: .9rem;
    margin-bottom: 20px;
}

.edit-content-container form .edit-form-button{
    padding: 8px 0;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: 90px;
    text-align: center;
    position: absolute;
    top: 60px; right: 10px;
}
.edit-content-container form .edit-form-button:hover {
    background-color: var(--dark-blue);
}


/* show ************************************************************************ */

.show-content-container {
    max-width: 900px;
    margin: 0 auto;
}

.show-content-container .show-header{
    font-size: 1.2rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.show-content-container .show-publication-container {
    padding: 10px;
}

.show-content-container .show-publication-container .show-publication-body {
    font-size: 1rem;
    margin: 0 0 10px;
    display: block;
}

.show-content-container .show-publication-container .show-publication-date {
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
}

.show-content-container .show-publication-container .show-button-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 60px;
    right: 10px;
}

.show-content-container .show-publication-container .show-button-container form .show-delete-button{
    padding: 8px 0;
    background-color: #950606;
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    margin: 0 20px 0 0;
    width: 90px;
    text-align: center;
}
.show-content-container .show-publication-container .show-button-container form .show-delete-button:hover {
    background-color: hsl(0, 92%, 25%);
}

.show-content-container .show-publication-container .show-button-container .show-edit-link{
    padding: 8px 0;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: 90px;
    text-align: center;
}
.show-content-container .show-publication-container .show-button-container .show-edit-link:hover {
    background-color: var(--dark-blue);
}

/* media queries */

@media (max-width:991px){

    /* html */
    html{
        font-size: 72%;
    }

    .home-content-container,
    .create-content-container,
    .edit-content-container,
    .show-content-container{
        max-width: 900px;
        margin: 0 15px;
    }

    .create-content-container form .create-form-button{
        width: 70px;
    }

    .edit-content-container form .edit-form-button{
        width: 70px;
    }

    .show-content-container .show-publication-container .show-button-container .show-edit-link,
    .show-content-container .show-publication-container .show-button-container form .show-delete-button{
        width: 70px;
    }

}

@media (max-width:768px){

    .home-content-container,
    .create-content-container,
    .edit-content-container,
    .show-content-container{
        max-width: 700px;
        margin: 0 15px;
    }

}

@media (max-width:450px){

    /* html */
    html{
        font-size: 55%;
    }

    .home-content-container,
    .create-content-container,
    .edit-content-container,
    .show-content-container{
        max-width: 400px;
        margin: 0 10px;
    }

    .create-content-container form .create-form-button{
        width: 60px;
    }

    .edit-content-container form .edit-form-button{
        width: 60px;
    }

    .show-content-container .show-publication-container .show-button-container .show-edit-link,
    .show-content-container .show-publication-container .show-button-container form .show-delete-button{
        width: 60px;
    }

}
