
.createContentContainer {
    max-width: 720px;
    margin: 0 auto;
}

.createContentContainer .createHeader {
    font-size: 1.2rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.createContentContainer form {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.createContentContainer form .createFormTitle {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
}

.createContentContainer form .createTitleErrorsContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.createContentContainer form .createTitleErrorsContainer .createTitleError {
    margin: 0;
    color: #950606;
    font-size: 0.9rem;
}
.createContentContainer form .createTitleErrorsContainer .createTitleCounter{
    margin: 0;
    font-size: .9rem;
    text-align: right;
}

.createContentContainer form .createFormBody {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.createContentContainer form .createBodyErrorsContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.createContentContainer form .createBodyErrorsContainer .createBodyCounter{
    margin: 0;
    font-size: .9rem;
    text-align: right;
}
.createContentContainer form .createBodyErrorsContainer .createBodyError {
    color: #950606;
    font-size: 0.9rem;
    margin: 0;
}

.createContentContainer form .createFormButton {
    padding: 6px 10px;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 55px;
    right: 10px;
}
.createContentContainer form .createFormButton:hover {
    background-color: var(--dark-blue);
}


/* media queries */

@media (max-width: 991px) {

    .createContentContainer {
        max-width: 900px;
        margin: 0 15px;
    }

}

@media (max-width: 768px) {
    .createContentContainer {
        max-width: 700px;
        margin: 0 15px;
    }
}

@media (max-width: 450px) {

    .createContentContainer {
        max-width: 400px;
        margin: 0 10px;
    }

}
