
.editContentContainer {
    max-width: 720px;
    margin: 0 auto;
}

.editContentContainer .editHeader {
    font-size: 1.2rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.editContentContainer form {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.editContentContainer form .editFormTitle {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
}

.editContentContainer form .editTitleErrorsContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.editContentContainer form .editTitleErrorsContainer .editTitleError {
    margin: 0;
    color: #950606;
    font-size: 0.9rem;
}
.editContentContainer form .editTitleErrorsContainer .editTitleCounter{
    margin: 0;
    font-size: .9rem;
    text-align: right;
}

.editContentContainer form .editFormBody {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px 10px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.editContentContainer form .editBodyErrorsContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.editContentContainer form .editBodyErrorsContainer .editBodyCounter{
    margin: 0;
    font-size: .9rem;
    text-align: right;
}
.editContentContainer form .editBodyErrorsContainer .editBodyError {
    color: #950606;
    font-size: 0.9rem;
    margin: 0;
}

.editContentContainer form .editFormButton {
    padding: 6px 10px;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 55px;
    right: 10px;
}

.editContentContainer form .editFormButton:hover {
    background-color: var(--dark-blue);
}

/* media queries */

@media (max-width: 991px) {

    .editContentContainer {
        max-width: 900px;
        margin: 0 15px;
    }

}

@media (max-width: 768px) {

    .editContentContainer {
        max-width: 700px;
        margin: 0 15px;
    }
}

@media (max-width: 450px) {

    .editContentContainer {
        max-width: 400px;
        margin: 0 10px;
    }

}
