

.homeContentContainer {
    max-width: 1050px;
    margin: 0 auto;
}

.homeContentContainer .homeHeader{
    margin: 30px 0 10px 30px;
    padding: 10px;
    font-size: 1.2rem;
}


/* media queries */

@media (max-width:991px){

    .homeContentContainer{
        max-width: 900px;
        margin: 0 15px;
    }

}

@media (max-width:768px){

    .homeContentContainer{
        max-width: 700px;
        margin: 0 15px;
    }

}

@media (max-width:450px){

    .homeContentContainer{
        max-width: 400px;
        margin: 0 10px;
    }

}


