
.homeFlashSuccess {
    background-color: var(--light-blue);
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
}

.homeFlashError {
    background-color: #950606;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
}

.homeContentContainer {
    max-width: 1050px;
    margin: 0 auto;
}

.homeContentContainer .homeHeader{
    margin: 30px 0 10px 30px;
    padding: 10px;
    font-size: 1.2rem;
}


/* media queries */

@media (max-width:991px){

    .homeContentContainer{
        max-width: 900px;
        margin: 0 15px;
    }

}

@media (max-width:768px){

    .homeContentContainer{
        max-width: 700px;
        margin: 0 15px;
    }

}

@media (max-width:450px){

    .homeContentContainer{
        max-width: 400px;
        margin: 0 10px;
    }

}


