
.publicationContainer {
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid hsl(0, 0%, 90%);
    position: relative;
}

.publicationContainer .publicationPublisher{
    margin: 0 0 0 20px;
    font-size: 1rem;
    margin-bottom: 10px;
}
.publicationContainer .publicationPublisher span {
    font-weight: bolder;
}

.publicationContainer h4.publicationTitle{
    margin: 0 0 0 40px;
    font-size: 1rem;
    font-weight: normal;
}
.publicationContainer .publicationBody {
    margin: 10px 0 5px 20px;
    font-size: 1rem;
}
.publicationContainer i.publicationDate{
    margin: 0 0 0 20px;
    display: block;
    font-size: .9rem;
}

.publicationContainer .publicationButtonContainer {
    display: flex;
    justify-content: flex-end;
    position:absolute;
    top: 10px;
    right: 10px;
}

.publicationContainer .publicationButtonContainer form .publicationDeleteButton{
    padding: 6px 10px;
    background-color: #950606;
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: .9rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}
.publicationContainer .publicationButtonContainer form .publicationDeleteButton:hover {
    background-color: hsl(0, 92%, 25%);
}

.publicationContainer .publicationButtonContainer .publicationEditLink{
    padding: 6px 10px;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: .9rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}
.publicationContainer .publicationButtonContainer .publicationEditLink:hover {
    background-color: var(--dark-blue);
}

.publicationContainer .publicationButtonContainer .publicationLink{
    padding: 6px 10px;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: .9rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}
.publicationContainer .publicationButtonContainer .publicationLink:hover {
    background-color: var(--dark-blue);
}

/* media queries */

@media (max-width:991px){

    .publicationContainer .publicationButtonContainer form .publicationDeleteButton,
    .publicationContainer .publicationButtonContainer .publicationEditLink,
    .publicationContainer .publicationButtonContainer .publicationLink{
        padding: 6px 10px;
        font-size: .9rem;
        margin-left: 10px;
    }

}

@media (max-width:768px){

    .publicationContainer .publicationButtonContainer form .publicationDeleteButton,
    .publicationContainer .publicationButtonContainer .publicationEditLink,
    .publicationContainer .publicationButtonContainer .publicationLink{
        padding: 6px 10px;
        font-size: .9rem;
        margin-left: 10px;
    }

}

@media (max-width:450px){

    .publicationContainer .publicationButtonContainer form .publicationDeleteButton,
    .publicationContainer .publicationButtonContainer .publicationEditLink,
    .publicationContainer .publicationButtonContainer .publicationLink{
        padding: 6px 10px;
        font-size: .9rem;
        margin-left: 6px;
    }

}



