
.showContentContainer {
    max-width: 900px;
    margin: 0 auto;
}

.showContentContainer .showHeader{
    font-size: 1.2rem;
    margin: 30px 0 10px 30px;
    padding: 10px;
}

.showContentContainer .showPublicationContainer {
    padding: 10px;
}

.showContentContainer .showPublicationContainer .showPublicationBody {
    font-size: 1rem;
    margin: 0 0 10px;
    display: block;
}

.showContentContainer .showPublicationContainer .showPublicationDate {
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
}

.showContentContainer .showPublicationContainer .showButtonContainer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 60px;
    right: 10px;
}

.showContentContainer .showPublicationContainer .showButtonContainer form .showDeleteButton{
    padding: 8px 0;
    background-color: #950606;
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    margin: 0 20px 0 0;
    width: 90px;
    text-align: center;
}
.showContentContainer .showPublicationContainer .showButtonContainer form .showDeleteButton:hover {
    background-color: hsl(0, 92%, 25%);
}

.showContentContainer .showPublicationContainer .showButtonContainer .showEditLink{
    padding: 8px 0;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.2);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: 90px;
    text-align: center;
}
.showContentContainer .showPublicationContainer .showButtonContainer .showEditLink:hover {
    background-color: var(--dark-blue);
}


/* media queries */

@media (max-width:991px){

    .showContentContainer{
        max-width: 1050px;
        margin: 0 15px;
    }

    .showContentContainer .showPublicationContainer .showButtonContainer .showEditLink,
    .showContentContainer .showPublicationContainer .showButtonContainer form .showDeleteButton{
        width: 70px;
    }

}

@media (max-width:768px){

    .showContentContainer{
        max-width: 700px;
        margin: 0 15px;
    }

}

@media (max-width:450px){

    .showContentContainer{
        max-width: 400px;
        margin: 0 10px;
    }

    .showContentContainer .showPublicationContainer .showButtonContainer .showEditLink,
    .showContentContainer .showPublicationContainer .showButtonContainer form .showDeleteButton{
        width: 60px;
    }

}
